body{
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: darkblue;
}

#logo{

    width: 100px;
    float: left;
}

nav>ul{
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    overflow: hidden;
}

li{

    font-size: 20px;
    padding-bottom: 15px;
}

nav>ul>li a{

    text-decoration: none;

}

header{

    height: 100px;
}

#submit{

    float: right;
}

h2{
    font-size: 20px;
    font-weight: 200;
}

footer>p{

    text-align: center;

}

#paragraph{

    margin-top: 0;
}

hr{
    
    width: 720px;
    height: 1px;
    border: solid;
}

.form2{

    align-content: center;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
